package com.ceragon.monkeygame.command;

import com.ceragon.monkeygame.engine.websocket.packet.CSPacket;
import io.netty.channel.Channel;
import ${msg.javaPackage}.${msg.name};
###foreach($info in $msg.dependencyPackage)
##import $info;
###end
import java.io.IOException;

public interface I${msg.name}Command {

    default void execute(Channel channel, CSPacket packet) throws IOException {
        ${msg.name} request = ${msg.name}.parseFrom(packet.toInputStream());
#foreach($field in $msg.fieldList)
        ${field.javaTypeName} ${field.name} = request.get${util.upperFirstLetter($field.name)}();
#end
    }
}
