package com.ceragon.monkeygame.hall.command.login;

import com.ceragon.monkeygame.engine.websocket.packet.CSPacket;
import io.netty.channel.Channel;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Component;
import com.ceragon.monkeygame.command.I${msg.name}Command;
import ${msg.javaPackage}.${msg.name};
import java.io.IOException;

@Slf4j
@Component
public class ${msg.name}Command implements LoginCommandManager.ILoginCommand, I${msg.name}Command {

    @Override
    public void execute(Channel channel, CSPacket packet) throws IOException {
        ${msg.name} request = ${msg.name}.parseFrom(packet.toInputStream());

    }
}
